<div class="">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header pt-0 d-flex justify-content-between">
        <h4 class="card-title table-title">
          Entries
          <span class="count-span"> (About {{ dataLength }} results)</span>
        </h4>
        <div>
          <button
            type="submit"
            class="filter-btn print-btn"
            (click)="onPrint()"
          >
            Print
          </button>
          <button
            type="submit"
            class="btn btn-primary btn-round"
            (click)="onClickAddNew()"
            *appPermission="['entry.create']"
          >
            New
          </button>
        </div>
      </div>
      <!-- Progressbar start  -->
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isLoadingFetchEntries"
      ></mat-progress-bar>
      <!-- Progress bar end  -->
      <div class="card-body p-0">
        <div class="mat-elevation-z8">
          <div class="row">
            <div class="col-md-4">
              <form
                class="table-filter-form"
                [formGroup]="searchForm"
                novalidate
              >
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control search-input"
                    formControlName="fromDate"
                    (keyup)="applyFilter($event)"
                    formControlName="searchKey"
                    placeholder="search..."
                  />
                </div>
              </form>
            </div>

            <div class="col-md-8">
              <form
                class="table-filter-form d-flex"
                [formGroup]="filterForm"
                (ngSubmit)="onSubmitDateFilter()"
                novalidate
              >
                <div class="form-group date-selector">
                  <input
                    type="date"
                    class="form-control search-input"
                    formControlName="date_start"
                    max="{{ ff.date_end.value | date: 'yyyy-MM-dd' }}"
                  />
                </div>
                <div class="form-group date-selector">
                  <input
                    type="date"
                    class="form-control search-input"
                    formControlName="date_end"
                    min="{{ ff.date_start.value | date: 'yyyy-MM-dd' }}"
                  />
                </div>
                <div class="form-group date-selector">
                  <button
                    type="submit"
                    class="filter-btn"
                    *ngIf="authService.isAdmin()"
                  >
                    Filter
                  </button>
                </div>
                <div class="form-group">
                  <button
                    type="button"
                    class="filter-btn"
                    (click)="onClickClearFilter()"
                    *ngIf="authService.isAdmin()"
                  >
                    Clear
                  </button>
                </div>
              </form>
            </div>
          </div>

          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="sortChange($event)"
          >
            <!-- SL Number Column -->
            <ng-container matColumnDef="slNo">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                class="td-sl-no"
              >
                {{ i + 1 }}
              </td>
            </ng-container>

            <!-- ref id Column -->
            <ng-container matColumnDef="ref_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="id">
                Ref ID
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="onEditEntry(element)"
                class="td-ref-id"
              >
                {{ element.ref_id }}
              </td>
            </ng-container>

            <!-- from whom Column -->
            <ng-container matColumnDef="from_whom">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="from_whom">
                From
              </th>
              <td mat-cell *matCellDef="let element" class="td-from-whom">
                {{ element.from_whom?.title }}
              </td>
            </ng-container>

            <!-- to whom Column -->
            <ng-container matColumnDef="to_whom">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
              <td mat-cell *matCellDef="let element" class="td-to-whom">
                {{ element.to_whom?.title }}
              </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let element">
                {{ element.created_at | date }}
              </td>
            </ng-container>

            <!-- Subject Column -->
            <!-- <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef>Subject</th>
              <td mat-cell *matCellDef="let element" class="td-subject">
                {{ element.subject }}
              </td>
            </ng-container> -->

            <!-- actions Column  -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-button
                  class="action-btn"
                  color="primary"
                  (click)="onEditEntry(element)"
                  *appPermission="['entry.edit']"
                >
                  Edit
                </button>
                <button
                  mat-button
                  class="action-btn"
                  color="primary"
                  (click)="onViewEntry(element)"
                  *appPermission="['entry.view']"
                >
                  View
                </button>
                <button
                  mat-button
                  class="action-btn"
                  color="primary"
                  (click)="onDeleteEntry(element)"
                  *appPermission="['entry.delete']"
                >
                  Delete
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <!-- <div *ngIf="!dataSource || dataSource.length < 1">
            Not entries found
          </div> -->
          <mat-paginator
            #paginator
            [length]="dataLength"
            [pageIndex]="pageNumber - 1"
            [pageSize]="perPage"
            [pageSizeOptions]="[10, 20, 30, 50, 100]"
            (page)="handlePage($event)"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
