table {
  width: 100%;
}
tr.mat-row,
tr.mat-footer-row {
  height: 35px;
}
.td-ref-id {
  cursor: pointer;
  width: 170px;
}

.td-from-whom {
  width: 200px;
}

.td-to-whom {
  width: 200px;
}

.td-subject {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 285px;
}
.mat-row:nth-child(even) {
}

.mat-row:nth-child(odd) {
  background-color: #bdd5f9;
}
