<div class="">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4 class="card-title table-title">My Profie</h4>
      </div>
      <div class="card-body d-flex">
        <div class="user-details-block">
          <div class="typography-line" *ngIf="userDetails.name">
            <h4><span>Name</span>{{ userDetails.name }}</h4>
          </div>

          <div class="typography-line" *ngIf="userDetails.email">
            <h4><span>Email</span>{{ userDetails.email }}</h4>
          </div>

          <div class="typography-line" *ngIf="userDetails.user_type">
            <h4><span>User Type</span>{{ userDetails.user_type }}</h4>
          </div>
        </div>
        <div>
          <button
            mat-button
            class="action-btn"
            color="primary"
            (click)="onChangePassword()"
          >
            Change Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
