<div class="">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header pt-0 d-flex justify-content-between">
        <h4 class="card-title table-title">
          Destination List
          <span class="count-span"> (About {{ dataLength }} results)</span>
        </h4>
        <button
          type="submit"
          class="btn btn-primary btn-round"
          (click)="onClickAddNew()"
          *ngIf="authService.isAdmin()"
        >
          New
        </button>
      </div>
      <!-- Progressbar start  -->
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isLoadingFetchDestinations"
      ></mat-progress-bar>
      <!-- Progress bar end  -->
      <div class="card-body p-0">
        <div class="mat-elevation-z8">
          <form class="table-filter-form" [formGroup]="filterForm" novalidate>
            <div class="form-group">
              <input
                type="text"
                class="form-control search-input"
                formControlName="fromDate"
                (keyup)="applyFilter($event)"
                formControlName="searchKey"
                placeholder="search..."
              />
            </div>
          </form>
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="sortChange($event)"
          >
            <!-- SL Number Column -->
            <ng-container matColumnDef="slNo">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                class="td-sl-no"
              >
                {{ i + 1 }}
              </td>
            </ng-container>

            <!-- ref id Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
              <td mat-cell *matCellDef="let element">
                {{ element.title }}
              </td>
            </ng-container>

            <!-- Shortname Column -->
            <ng-container matColumnDef="shortname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Shortname
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.shortname }}
              </td>
            </ng-container>

            <!-- Description Column  -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>

            <!-- Created at Column -->
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Created At
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.created_at | date }}
              </td>
            </ng-container>

            <!-- actions Column  -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-button
                  color="primary"
                  (click)="onEditDestination(element)"
                  *appPermission="['destination.edit']"
                >
                  Edit
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <!-- <div *ngIf="!dataSource || dataSource.length < 1">
              Not entries found
            </div> -->
          <mat-paginator
            #paginator
            [length]="dataLength"
            [pageIndex]="pageNumber - 1"
            [pageSize]="perPage"
            [pageSizeOptions]="[10, 20, 30, 50, 100]"
            (page)="handlePage($event)"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
