<div class="modal-container">
  <div class="card">
    <div class="card-header p-0">
      <h4 class="card-title m-0">Change Password</h4>
    </div>
    <div class="card-body p-0">
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmitResetPassword()"
        novalidate
      >
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>New Password <span class="mandatory-text">*</span></label>
              <input
                [type]="passwordInputType"
                class="form-control"
                placeholder="New Password"
                formControlName="password"
                required
                [ngClass]="{
                  'is-invalid': submitted && rpf.password.errors
                }"
              />
              <div
                *ngIf="submitted && rpf.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="rpf.password.errors.required">
                  New Password is required
                </div>
                <div *ngIf="rpf.password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
              <div
                class="form-error-message"
                *ngIf="resetPasswordFormError?.password"
              >
                {{ resetPasswordFormError.password }}
              </div>
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label
                >Confirm Password <span class="mandatory-text">*</span></label
              >
              <input
                [type]="passwordInputType"
                class="form-control"
                placeholder="Confirm Password"
                formControlName="password_confirmation"
                required
                [ngClass]="{
                  'is-invalid': submitted && rpf.password_confirmation.errors
                }"
              />
              <div
                *ngIf="submitted && rpf.password_confirmation.errors"
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    rpf.password_confirmation.errors.NotEqual ||
                    rpf.password_confirmation.errors.required
                  "
                >
                  Password and confirm password fields value must be matched
                </div>
              </div>
              <div
                class="form-error-message"
                *ngIf="resetPasswordFormError?.password"
              >
                {{ resetPasswordFormError.password_confirmation }}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="update ml-auto mr-auto d-flex align-items-center">
            <button
              type="submit"
              class="btn btn-primary btn-round d-flex align-items-center"
            >
              Update
              <mat-progress-spinner
                class="spinner ml-5"
                mode="indeterminate"
                diameter="20"
                color="accent"
                *ngIf="loadingSave"
              >
              </mat-progress-spinner>
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-round"
              mat-button
              [mat-dialog-close]="false"
            >
              Discard
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
