<div class="login-main">
  <div class="login-container d-flex justify-content-center align-items-center">
    <div class="card card-user">
      <div class="card-header text-center">
        <h5 class="card-title table-title">Login</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
          <div class="">
            <div class="">
              <div class="form-group">
                <label for="email-address">Email</label>
                <input
                  type="text"
                  name="email-address"
                  class="form-control"
                  placeholder="Email Address"
                  formControlName="username"
                  required
                  autocomplete="off"
                />
              </div>
            </div>
            <div class="">
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  name="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
                  required
                  autocomplete="off"
                />
              </div>
            </div>
            <p class="form-error-message">{{ loginErrorMessage }}</p>
            <div class="update ml-auto mr-auto">
              <button
                type="submit"
                class="btn btn-primary btn-round d-flex align-items-center"
              >
                Login
                <mat-progress-spinner
                  class="spinner"
                  mode="indeterminate"
                  diameter="20"
                  color="accent"
                  *ngIf="isLoadingLogin"
                >
                </mat-progress-spinner>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
